<%include _header%>

<%include _navbar%>
  <div  class="container-fluid tituloIndex text-center">
    <h1> <span>Registrate</span> y <span>Enterate</span>  de </h1>
    <br>
    <h1>las mejores serie de anime.</h1>
  </div>



  

<%include _footer%>
