<% include _header %>


<% include _navbar %>

<div class="container rounded tableList">
    <br>
    <h1 class="text-center">Lista de Usuarios</h1>
    <br>
    <hr>
    <table class="table table-outline-info text-center">
        <thead>
            <tr id="listaHeader">
                <th>Position</th>
                <th>Imagen</th>
                <th>Title</th>
                <th>Genero</th>
                <th>Year</th>
                <th>Duracion</th>
                <th>Capitulos</th>
                <th>Edad Minima</th>
                <!-- <th>Sinopsis</th> -->
                <th>Ver</th>
                <th hidden>Editar</th>
                <th hidden>Borrar</th>

            </tr>
        </thead>
        <tbody id="lista">

        </tbody>
    </table>

</div>
<script>
    const token = localStorage.getItem("token");
    var decoded = '';

    if (!token) {
        location.href = "/login/";
    } else {

        decoded = jwt_decode(token);
        console.log(decoded._id);


        fetch("api/series", {
            headers: {
                "Content-type": "application/json",
                "Authorization": "Bearer " + token
            }
        })
            .then(response => {
                if (response.ok) {
                    response.json()

                        .then(json => {
                            console.log(json)
                            let cont = 0;

                            //listar datos de usuarios siendo usuario normal
                            // if (!decoded.isAdmin || decoded._id == //id) {
                            // let th = document.createElement("th");
                            // th.innerHTML = 'Ver';
                            // document.getElementById("listaHeader").appendChild(th);

                            // let th2 = document.createElement("th");
                            // th2.innerHTML = 'Borrar';
                            // document.getElementById("listaHeader").appendChild(th2);

                            json.map(serie => {
                                cont++;

                                let tr = document.createElement("tr");
                                document.getElementById("lista").appendChild(tr);

                                let tdNum = document.createElement("td");
                                tdNum.innerHTML = cont;
                                tr.appendChild(tdNum);

                                let td = document.createElement("td");
                                td.innerHTML = serie.title;
                                tr.appendChild(td);
                                let td1 = document.createElement("td");
                                td1.innerHTML = serie.title;
                                tr.appendChild(td1);
                                let td2 = document.createElement("td");
                                td2.innerHTML = serie.genre;
                                tr.appendChild(td2);
                                let td3 = document.createElement("td");
                                td3.innerHTML = serie.year;
                                tr.appendChild(td3);
                                let td4 = document.createElement("td");
                                td4.innerHTML = serie.duration;
                                tr.appendChild(td4);
                                let td5 = document.createElement("td");
                                td5.innerHTML = serie.age;
                                tr.appendChild(td5);
                                // let td6 = document.createElement("td");
                                // td6.innerHTML = serie.sinopsis;
                                // tr.appendChild(td6);

                                //boton Ver un usuario
                                let td7 = document.createElement("td");
                                tr.appendChild(td7);
                                let btnView = document.createElement("button");
                                btnView.setAttribute("class", "btn btn-info");
                                btnView.innerHTML = "VIEW";
                                btnView.onclick = () => {
                                    fetch("api/series", {
                                        method: "GET"
                                    }).then(() => {
                                        location.href = "/series/" + serie._id
                                    })
                                };
                                td7.appendChild(btnView);

                                //     let td8 = document.createElement("td");
                                //     tr.appendChild(td8);

                                //     if (decoded._id == json[i]._id) {
                                //         //boton editar usaurio
                                //         let btnUpdate = document.createElement("button");
                                //         btnUpdate.setAttribute("class", "btn btn-success");
                                //         btnUpdate.innerHTML = "UPDATE";
                                //         btnUpdate.onclick = () => {
                                //             fetch("api/users", {
                                //                 method: "PUT"
                                //             }).then(() => {
                                //                 location.href = "/users/edit/" + serie._id;
                                //             })
                                //         };
                                //         td8.appendChild(btnUpdate);
                                //     }

                                // }
                                //listar datos de usuario siendo Admin
                                // } else {
                                //     //cabecera de la tabla
                                //     let th1 = document.createElement("th");
                                //     th1.innerHTML = 'Email';

                                //     let th2 = document.createElement("th");
                                //     th2.innerHTML = 'Rol';

                                //     let th3 = document.createElement("th");
                                //     th3.innerHTML = 'Ver';

                                //     let th4 = document.createElement("th");
                                //     th4.innerHTML = 'Editar';

                                //     let th5 = document.createElement("th");
                                //     th5.innerHTML = 'Borrar';

                                //     document.getElementById("listaHeader").appendChild(th1);
                                //     document.getElementById("listaHeader").appendChild(th2);
                                //     document.getElementById("listaHeader").appendChild(th3);
                                //     document.getElementById("listaHeader").appendChild(th4);
                                //     document.getElementById("listaHeader").appendChild(th5);



                                //     //datos de usuario en la tabla
                                //     json.map(user => {
                                //         cont++;
                                //         console.log("aaaaa");

                                //         let tr = document.createElement("tr");
                                //         document.getElementById("lista").appendChild(tr);

                                //         let tdNum = document.createElement("td");
                                //         tdNum.innerHTML = cont;
                                //         tr.appendChild(tdNum);

                                //         let td = document.createElement("td");
                                //         td.innerHTML = user.username;
                                //         tr.appendChild(td);

                                //         let td2 = document.createElement("td");
                                //         td2.innerHTML = user.email;
                                //         tr.appendChild(td2);

                                //         let td3 = document.createElement("td");
                                //         td3.innerHTML = user.isAdmin ? "Administrador" : "Usuario";
                                //         tr.appendChild(td3);

                                //         //boton Ver un usuario
                                //         let td4 = document.createElement("td");
                                //         tr.appendChild(td4);
                                //         let btnView = document.createElement("button");
                                //         btnView.setAttribute("class", "btn btn-info");
                                //         btnView.innerHTML = "VIEW";
                                //         btnView.onclick = () => {
                                //             fetch("api/users", {
                                //                 method: "GET"
                                //             }).then(() => {
                                //                 location.href = "/users/" + user._id
                                //             })
                                //         };
                                //         td4.appendChild(btnView);

                                //         //boton editar usaurio
                                //         let td5 = document.createElement("td");
                                //         tr.appendChild(td5);
                                //         let btnUpdate = document.createElement("button");
                                //         btnUpdate.setAttribute("class", "btn btn-success");
                                //         btnUpdate.innerHTML = "UPDATE";
                                //         btnUpdate.onclick = () => {
                                //             location.href = "/users/edit/" + user._id;
                                //         };
                                //         td5.appendChild(btnUpdate);

                                //boton Eliminar usuario
                                // let td6 = document.createElement("td");
                                // tr.appendChild(td6);
                                // let btnDelete = document.createElement("button");
                                // btnDelete.setAttribute("class", "btn btn-danger");
                                // btnDelete.innerHTML = "DELETE";
                                // btnDelete.onclick = () => {
                                //     fetch("api/users/" + user._id, {
                                //         method: "DELETE",
                                //         headers: {
                                //             "Content-type": "application/json",
                                //             Authorization: "Bearer " + token
                                //         }
                                //     }).then(() => {
                                //         location.href = "/users"; // me redirije a mi pagina de users
                                //         // me refresca la pagina que le estoy diciendo
                                //     });
                                // };
                                // td6.appendChild(btnDelete);
                            })
                        })

                } else {
                    //response.ok ha fallado
                    console.log("error, response.ok");
                }
            })
    }
</script>

<%include _footer%>